@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@import "tailwindcss";

:root {
  --key: 224 23 50;
}

@theme inline {
  --color-key: rgb(var(--key));
  --color-dark: rgb(var(--dark));
}

body {
  color: rgb(var(--dark));
}

* {
  font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@font-face {
  font-family: 'RixYeoljeongdo_Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.logo_font {
  font-family: 'RixYeoljeongdo_Regular';
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.snap {
  scroll-snap-type: x mandatory;
}
.snap-item {
  scroll-snap-align: center;
	scroll-snap-stop: always;
}
